@use "../../helpers/functions" as *;

.ContactUs {
    margin-left: 250px;
    background-color: #d1e8df;
    @include Animtation(0.4s, linear, all);

    &.ContactMarined {
        margin-left: 250px;

        @include Breakpoints(medium) {
            margin-left: 0;
        }

        @include Breakpoints(small) {
            margin-left: 0;
        }

        @include Breakpoints(mobile) {
            margin-left: 0;
        }
    }

    &.ContactConstant {
        margin-left: 90px;

        @include Breakpoints(medium) {
            margin-left: 0;
        }

        @include Breakpoints(small) {
            margin-left: 0;
        }

        @include Breakpoints(mobile) {
            margin-left: 0;
        }
    }

    /* Center content vertically */
    @include Breakpoints(medium) {
        margin: 0;

        .contact-text {
            padding-left: 5rem !important;
        }
    }

    @include Breakpoints(small) {
        margin: 0;

        .contact-text {
            padding-left: 2rem !important;
        }
    }

    @include Breakpoints(mobile) {
        margin: 0;

        .contact-text {
            padding-left: 0rem !important;
        }

        .contact-info {
            width: max-content;
            margin-top: 30px;
        }
    }

    .cotact-container {
        .contact-text {
            padding-left: 7.5rem;
        }

        .contact-main {
            justify-content: space-around;
            margin-top: 50px;

            .contact-info {
                width: max-content;
            }
        }
    }

    input {
        &:focus {
            border-color: $BaseColor;
            box-shadow: 0 0 5px 2px $BaseColor;
        }

        &::placeholder {
            color: $BaseColor;
        }
    }

    textarea {
        &::placeholder {
            color: $BaseColor;
        }

        &:focus {
            border-color: $BaseColor;
            box-shadow: 0 0 5px 2px $BaseColor;
        }
    }

    select:focus {
        border-color: $BaseColor;
        box-shadow: 0 0 5px 2px $BaseColor;
    }

    .form-select {
        color: $BaseColor;

        svg {
            color: $BaseColor !important;
        }
    }

    .submition {
        @include Breakpoints(medium) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include Breakpoints(small) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include Breakpoints(mobile) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    button[type="submit"] {
        width: 200px;

    }
}