@use '../../helpers/functions' as *;

.FilterButtons {
    --bs-gutter-x: 0 !important;

    @include Breakpoints(small) {
        justify-content: center
    }

    @include Breakpoints(mobile) {
        justify-content: center
    }

    h1 {
        color: $BaseColor;
        margin: 0;
        justify-content: end;

        @include Breakpoints(medium) {
            justify-content: center;
        }

        @include Breakpoints(small) {
            justify-content: center;
        }

        @include Breakpoints(mobile) {
            justify-content: center;
        }
    }

    div {
        @include Breakpoints(medium) {
            justify-content: center;
        }

        @include Breakpoints(small) {
            justify-content: center;
        }

        @include Breakpoints(mobile) {
            justify-content: center;
        }

        .All {
            font-size: 20px;
        }

        .btn {
            height: max-content;
            width: 140px;
            height: 45px;
            background-color: white;
            font-weight: bold;
            border: none;

            img {
                width: 30px;
                filter: brightness(0) saturate(100%) invert(50%) sepia(76%) saturate(375%) hue-rotate(108deg) brightness(92%) contrast(85%);
            }

            &.Active {
                background-color: $BaseColor;
                color: white;

                img {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7481%) hue-rotate(11deg) brightness(102%) contrast(97%);
                }
            }

            @include Breakpoints(medium) {
                width: 30%;
            }

            @include Breakpoints(small) {
                width: 40%;
            }

            @include Breakpoints(mobile) {
                width: 80%;
            }

            &:hover {
                background-color: $BaseColor;
                color: white;

                img {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7481%) hue-rotate(11deg) brightness(102%) contrast(97%);
                }
            }
        }
    }
}

.FilterButtonsPrice {
    --bs-gutter-x: 0 !important;
    height: max-content;

    @include Breakpoints(medium) {
        justify-content: center
    }

    @include Breakpoints(small) {
        justify-content: center
    }

    @include Breakpoints(mobile) {
        justify-content: center
    }

    h1 {
        color: $BaseColor;
        margin: 0;
        justify-content: end;

        @include Breakpoints(medium) {
            justify-content: center;
        }

        @include Breakpoints(small) {
            justify-content: center;
        }

        @include Breakpoints(mobile) {
            justify-content: center;
        }
    }

    .btn {
        height: max-content;
        width: 150px;
        background-color: white;
        font-weight: bold;
        border: none;

        @include Breakpoints(medium) {
            width: 30%;
        }

        @include Breakpoints(small) {
            width: 40%;
        }

        @include Breakpoints(mobile) {
            width: 80%;
        }

        &.Active {
            background-color: $BaseColor;
            color: white;
        }

        &:hover {
            background-color: $BaseColor;
            color: white;
        }
    }

    div {
        @include Breakpoints(medium) {
            justify-content: center;
        }

        @include Breakpoints(small) {
            justify-content: center;
        }

        @include Breakpoints(mobile) {
            justify-content: center;
        }
    }
}

.FilteredApps {
    --bs-gutter-x: 0 !important;

    .FilteredApps_Title {
        padding: 0 40px;

        @include Breakpoints(medium) {
            padding: 0 30px;
        }

        @include Breakpoints(small) {
            padding: 0 49px;
        }

        @include Breakpoints(mobile) {
            padding: 0 35px;
        }
    }


    h1 {
        color: $BaseColor;
        margin: 20px 0;

        a {
            text-decoration: none;
            color: rgba($BaseColor, 0.6);
        }
    }
}