@use './../../helpers/functions' as *;

nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #feffff;
    @include Animtation(0.1s, linear, all);
    z-index: 2;

    &.NavSmall {
        width: 90px !important;
    }

    .nav_Title {
        padding: 0 10px;
        overflow: hidden;

        svg {
            position: absolute;
            right: -25px;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            background-color: $BaseColor;
            color: white;
            padding: 6px;
            cursor: pointer;
            @include Animtation(0.5s, linear, all);

            &.Rotate {
                transform: rotate(180deg);
            }
        }



        >img {
            width: 40px;
            margin-right: 5px;
        }

        img:nth-of-type(2) {
            width: 130px;
        }
    }



    .Menu_Bar {
        width: 100%;

        .Active {
            background-color: #d1e8df;

            svg {
                background-color: $BaseColor;
                color: white;
            }
        }

        .menu {

            ul {

                li {
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                    height: 50px;
                    margin-top: 20px;

                    &.Active {
                        background-color: #d1e8df;

                        svg {
                            background-color: $BaseColor;
                            color: white;
                        }

                        span {
                            font-weight: bold;
                        }
                    }

                    a {
                        width: 100%;
                        text-decoration: none;
                        color: $BaseColor;
                        font-family: CairoMeduim;
                        border-radius: 5px;
                        @include Animtation(0.3s, linear, all);
                        overflow: hidden;

                        svg {
                            min-width: 40px;
                            height: 40px;
                            color: $BaseColor;
                            padding: 10px;
                            border-radius: 5px;
                            margin-right: 10px;
                            @include Animtation(0.3s, linear, all);
                        }

                        span {
                            width: max-content;
                        }
                    }

                    &:hover {
                        background-color: #d1e8df;

                        svg {
                            background-color: $BaseColor;
                            color: white;
                        }

                        span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}