@use "../../../helpers/functions" as *;

.admin-apps {
    .app {
        width: 70%;
        margin: 40px auto 15px auto;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        box-shadow: 9px 10px 12px $BaseColor;
        padding: 20px 0px;

        @include Breakpoints(mobile) {
            text-align: center;
        }
    }

    .appicon {
        @include Breakpoints(mobile) {
            text-align: center;
        }

        img {
            width: 100px;
            border-radius: 20px;
            border: 2px dotted $BaseColor;
        }
    }

    .actions {
        span {
            border-radius: 5px;
            background-color: $BaseColor;
            margin-top: 20px;
            margin-left: 10px;
            padding-top: 4px;
            text-align: center;
            cursor: pointer;
            @include Animtation(0.5s, linear, all);

            &:hover {
                background-color: rgba($BaseColor, 0.8);
            }
        }
    }
}

.popupUpdateImage {
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 6%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    .form {
        position: absolute;
        transform: translate(50%, 50%);
        background-color: white;
        width: 50%;
        height: 50%;
        border-radius: 50px;
        text-align: center;
        padding: 20px;
        z-index: 9999;

        @include Breakpoints(medium) {
            transform: translate(10px, 50%);
            width: 90%;
        }

        @include Breakpoints(small) {
            transform: translate(10px, 50%);
            width: 90%;
        }

        @include Breakpoints(mobile) {
            transform: translate(10px, 50%);
            width: 90%;
        }

        input {
            border: 2px solid #ccc;
            padding: 10px;
            font-size: 16px;

            &:focus {
                border-color: $BaseColor;
                box-shadow: 0 0 5px $BaseColor;
                outline: none;
            }
        }

        svg {
            position: relative;
            right: -47%;
            font-size: 25px;
            color: $BaseColor;
            cursor: pointer;
        }

        label {
            color: $BaseColor;
            margin-bottom: 5px;
        }

        button {
            margin-top: 5px;
            color: white;
            background-color: #30a27b;
            padding: 10px 100px;
            border-radius: 5px;
        }
    }
}