@use '../../helpers/functions' as *;

html {
    background-color: #d1e8df;
}

.Home {
    background-color: #d1e8df;
    @include Animtation(0.1s, linear, all);

    &.HomeMarined {
        margin-left: 250px;
    }

    &.HomeConstant {
        margin-left: 90px;
    }

    /* Center content vertically */
    @include Breakpoints(medium) {
        margin: 0;
    }

    @include Breakpoints(small) {
        margin: 0;
    }

    @include Breakpoints(mobile) {
        margin: 0;
    }
}