@use './../../helpers/functions' as *;

.category {
    width: calc(100%/9);
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;

    @include Breakpoints(medium) {
        width: 20%;
    }

    @include Breakpoints(small) {
        width: 40%;
        margin: 10px auto;
    }

    @include Breakpoints(mobile) {
        width: 40%;
        margin: 10px auto;
    }
}