@use "../../helpers/functions" as *;

.card {
    border: none !important;
    margin: 30px;
    width: 20% !important;
    height: max-content !important;
    background-color: transparent !important;

    @include Breakpoints(large) {
        margin: 15px auto;
        width: 20% !important;
    }

    @include Breakpoints(medium) {
        width: 30% !important;
        margin: auto;
    }

    @include Breakpoints(small) {
        margin: 15px auto;
        width: 40% !important;
    }

    @include Breakpoints(mobile) {
        margin: 15px auto;
        width: 70% !important;
    }

    .card-body {
        padding: 10px 0 0 0;
        img {
            border-radius: 10px;
            object-fit: cover;
            height: 100%;

            @include Breakpoints(mobile) {
                object-fit: contain;
            }

            @include Breakpoints(mobile) {
                height: 80px;
                width: 200px;
                margin: auto;
            }
        }

        .card-body-details {
            position: relative;

            div {
                padding-left: 3px;
            }

            .Price {
                position: absolute;
                right: 10px;
            }

            span {
                color: white;
                background-color: $BaseColor;
                font-size: 10px;
                height: max-content;
                padding: 2px 5px;
                border-radius: 2px;
            }

            p {
                font-size: 12px;
                line-height: 1.2;
                color: $BaseColor;
                padding-left: 3px;

                @include Breakpoints(medium) {
                    font-size: 15px;
                }

                @include Breakpoints(small) {
                    font-size: 15px;
                }

                @include Breakpoints(mobile) {
                    font-size: 15px;
                }
            }
        }
    }
}
