@use "../../helpers/functions" as *;

.card {
    border: none !important;
    height: max-content !important;
    background-color: transparent !important;

    @include Breakpoints(large) {
        width: 22% !important;
    }

    @include Breakpoints(medium) {
        width: 30% !important;
        margin: auto;
    }

    @include Breakpoints(small) {
        margin: auto;
        width: 40% !important;
    }

    @include Breakpoints(mobile) {
        margin: 15px auto;
        width: 90% !important;
    }

    .card-body {
        padding: 10px 0 0 0;

        img {
            border-radius: 10px;
            object-fit: cover;
            height: 100%;

            @include Breakpoints(mobile) {
                object-fit: contain;
                width: 30%;
            }
        }

        .card-body-details {
            position: relative;

            @include Breakpoints(mobile) {
                width: 70%;
            }

            div {
                padding-left: 3px;
            }

            .Price {
                position: absolute;
                right: 10px;
                top: -5px;
            }

            span {
                color: white;
                background-color: $BaseColor;
                font-size: 10px;
                height: max-content;
                padding: 2px 5px;
                border-radius: 2px;
            }

            p {
                font-size: 12px;
                line-height: 1.2;
                color: $BaseColor;
                padding-left: 3px;

                @include Breakpoints(medium) {
                    font-size: 15px;
                }

                @include Breakpoints(small) {
                    font-size: 15px;
                }

                @include Breakpoints(mobile) {
                    font-size: 15px;
                }
            }
        }
    }
}