@use '../../../helpers/functions' as *;

.UpdateText {
    margin: auto;
    width: 900px;

    @include Breakpoints(medium) {
        width: 80%;
    }

    @include Breakpoints(small) {
        width: 90%;
    }

    @include Breakpoints(mobile) {
        width: 90%;
    }

    .UpdateCard {
        background-color: white !important;
        width: 100% !important;
        cursor: auto;
        border: solid rgba($BaseColor, 0.8) 1px !important;

        svg,
        .FreeLoading {
            color: white;
            background-color: $BaseColor;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 7px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 70px;
            height: 70px;
        }

        button {
            color: white;
            width: 100px;
        }
    }
}