@use "../../../helpers/functions" as *;
.admin-apps {
    .app {
        width: 70%;
        margin: 40px auto 15px auto;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        box-shadow: 9px 10px 12px $BaseColor;
        padding: 20px 0px;
    }
    .appicon {
        img {
            width: 100px;
            border-radius: 20px;
            border: 2px dotted $BaseColor;
        }
    }
    .deletespan {
        color: red;
        font-size: 40px;
        text-align: end;
    }
}
