@use '../../helpers/functions' as *;

.AppsFilter {
    margin-left: 250px;
    background-color: #d1e8df;

    /* Center content vertically */
    @include Breakpoints(medium) {
        margin: 0;
    }

    @include Breakpoints(small) {
        margin: 0;
    }

    @include Breakpoints(mobile) {
        margin: 0;
    }
}