@use './../../helpers/functions' as *;

.Intro_Text {
    height: max-content;
    margin: auto;
    border-radius: 20px;
    background-image: url('../../Assets/Images/hero\ card.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    img {
        width: 300px;

        @include Breakpoints(mobile) {
            width: 90%;
        }
    }

    @include Breakpoints(mobile) {
        height: max-content;
        padding: 20px;
    }

    article {
        p {
            margin: 0;
            font-size: 20px;

            @include Breakpoints(medium) {
                width: 90%;
            }

            @include Breakpoints(small) {
                width: 90%;
            }

            @include Breakpoints(mobile) {
                width: 100%;
            }
        }
    }
}

.Intro_Apps {
    height: max-content;
    --bs-gutter-x: 0;
    margin: 20px auto !important;

    h1 {
        @include Title();
    }

    .Intro_Apps_inside {
        a {
            text-decoration: none;
            color: $BaseColor;
        }
    }

}

.Intro_Categories {
    --bs-gutter-x: 0;
    height: max-content;
    margin: auto !important;

    h1 {
        @include Title();
    }

    .Intro_Categories_cards {
        @include Breakpoints(mobile) {
            justify-content: center;
        }
    }

    a {
        text-decoration: none;
        color: $BaseColor;
    }
}