@use '../../../helpers/functions' as *;

.AppControl {
    margin-left: 150px;
    background-color: #d3e8df;

    .Active {
        background-color: $BaseColor;
        color: white;
    }

    nav {
        padding: 10px 0;
        box-shadow: 0px 0px 6px 0px $BaseColor;
        background-color: white;

        a {
            text-decoration: none;
            color: $BaseColor;
            @include Animtation(0.4s, linear, all);
            padding: 10px 20px;
            border-radius: 50px;

            &:hover {
                background-color: $BaseColor;
                color: white;
            }
        }
    }
}