@use './helpers/functions' as *;

* {
  font-family: Cairo;
}



@font-face {
  font-family: Cairo;
  src: url('../public/Cairo-Regular.ttf');
}

@font-face {
  font-family: CairoMeduim;
  src: url('../public/Cairo-Medium.ttf');
}

@font-face {
  font-family: CairoBold;
  src: url('../public/Cairo-Bold.ttf');
}

.Right {
  direction: rtl !important;
}


.Toast {
  width: 450px;
  height: 120px;
  color: white;
  background-color: #30a27b !important;
  display: flex;
  align-items: center;

  @include Breakpoints(small) {
    width: 90%;
  }

  @include Breakpoints(mobile) {
    width: 95%;
  }

  .Main_Icon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #30a27b;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 10px;

    svg {
      font-size: 30px;
      font-weight: bold;
    }
  }

  article {
    margin-left: 15px;
    color: white;

    h1 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }
  }
}