@use '../../helpers/functions' as *;

.NotFound {
    background-color: $SecondColor;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        @include Breakpoints(mobile) {
            width: 90%;
        }
    }
}