@use "../../../helpers/functions" as *;

.Login {
    background-color: #d1e8df;
    @include Animtation(0.4s, linear, all);
    padding: 1px;

    h1 {
        text-align: center;
    }

    form {
        background-color: white;
        padding: 31px;
        height: 323px;
        border-radius: 50px;
        box-shadow: 12px 12px 19px;

        @include Breakpoints(medium) {
            width: 80%;
        }

        @include Breakpoints(mobile) {
            width: 100%;
        }
    }

    .btn {
        width: 200px;

        @include Breakpoints(mobile) {
            width: 200px;
        }
    }

    label {
        color: $BaseColor;
        font-weight: bold;
        font-size: 15px;
    }

    .login-main {
        width: 40%;
        margin: 100px auto;

        @include Breakpoints(medium) {
            width: 80%;
        }

        @include Breakpoints(small) {
            width: 80%;
        }

        @include Breakpoints(mobile) {
            width: 90%;
        }
    }
}